@page "/"

<PageTitle>Home</PageTitle>

<h1>Ask OpenAI GPT</h1>

<div class="chat-container">
    <div class="chat-messages">
        <div class="chat-message">
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="chat-input">
        <textarea rows="1" cols="5" type="text" />
        <button>Ask</button>
    </div>
</div>